body {
  font-family: "Roboto", sans-serif;
  text-align: center;
  text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
  color: rgb(66, 69, 86);
  background-image: url("http://i.imgur.com/BJP2Q1j.jpg");
  background-size: cover;
  font-weight: 100;
}

.flex-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

h1 {
  margin: 0;
  font-size: 250px;
  font-weight: 100;
}

p {
  margin: 0;
  font-size: 30px;
}

.form {
  line-height: 1.5;
  border: none;
  border-bottom: 3px solid #ebebeb;
  margin-top: 5%;
  width: 90%;
  font-size: 2.9em;
  color: white;
  padding: 5px 10px;
  text-align: center;
  justify-content: center;
  background: transparent;
}

button {
  line-height: 2;
  border: 3px solid white;
  font-size: 1.9em;
  color: rgb(66, 69, 86);
  padding: 5px 30px;
  background: rgba(255, 255, 255, 1);
  border-radius: 5px;
  opacity: 0.8;
}

input[type="text"]:focus {
  outline: none;
}

::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
}

@media (max-width: 940px) {
  h1 {
    margin: 0;
    font-size: 150px;
    font-weight: 100;
  }
}

@media (max-width: 573px) {
  h1 {
    margin: 0;
    font-size: 70px;
    font-weight: 100;
  }

  .lead {
    margin: 0;
    font-size: 20px;
  }
}
